h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
h2{
    font-family: Arial, Helvetica, sans-serif;
}

.img{
margin-bottom: 100px;

}
.skills_table thead tr{
text-align: left;
background-color: green;
color: rgb(255, 255, 255);
font-weight: bold;
}

.skills_table tbody tr{
    border-bottom: 1px solid rgb(228, 224, 224)

}

.skills_table tbody tr: nth-child(even) {
 background color: #f3f3f3
    
}

    

.skills_table th
.skills_table td{
    padding: 12px 15px

}

.skills_table{
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;

}

.super{

    width: 100%;
    height: 100vh;
    background-image: url(pexels-photo-396547.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
    
    ]}
    .input-group{
        margin-bottom: 30px;
        position: relative;
    }

    input, textarea{
        width: 100%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        color: #fff;
        background: transparent;
        font-size: 15px;
    }

    label{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        color: #fff ;
        cursor: text;
    }
    button{
padding: 10px 0;
color: #fff;
outline: none;
background: transparent;
border: 1px solid #fff;
width: 100%;
cursor: pointer;

    }